body {
    background-image: url("paperboard-texture.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    }

desctiption {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p.one {
    text-align:right;
}

h.one {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-align:center;
}